fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
beautifulsoup4
apscheduler
pyjwt
pydantic-settings
python-multipart
passlib
bcrypt==3.2.2
python-dotenv
requests
python-jose[cryptography]
email-validator
cloudinary
